body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightgray;
}

.wrapper {
    padding: 20px 45px;
    width: 50%;
}

h1 {
    text-align: center;
    padding: 15px 0;
}

.card {
    padding: 20px;
    background-color: white;
    box-shadow: 10px 10px 10px 10px darkgray;
}

h2 {
    text-align: left;
    padding: 10px;
}

.card-body {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.btn {
    height: 50px;
    width: 50%;
    border-radius: 25%;
    background-color: red;
    margin: 15px;
}

.btn:hover {
    background-color: darkred;
    color: antiquewhite;
}